[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jake/Desktop/ASIO4ALL v2 Instruction Manual.lnk]
row=0
col=3

[/home/jake/Desktop/FL Studio 20 (32bit).lnk]
row=0
col=1

[/home/jake/Desktop/Wine Games]
row=1
col=0

[/home/jake/Desktop/ASIO4ALL v2 Instruction Manual.desktop]
row=0
col=4

[/home/jake/Desktop/FL Studio 20 (32bit).desktop]
row=0
col=2

[Trash]
row=0
col=0

[/home/jake]
row=2
col=0

