[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jake/Desktop/FL Studio 20.desktop]
row=0
col=2

[/home/jake/Desktop/Crackdown3.desktop]
row=0
col=4

[/home/jake/Desktop/cd3.desktop]
row=0
col=6

[/home/jake/Desktop/steam.desktop]
row=2
col=0

[/home/jake/Desktop/mgsi.desktop]
row=0
col=3

[pi]
row=0
col=5

[Trash]
row=0
col=1

[/home/jake]
row=0
col=0

