[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jake/Desktop/FL Studio 20.desktop]
row=0
col=15

[/home/jake/Desktop/OblivionLauncher.desktop]
row=0
col=0

[/home/jake/Desktop/steam.desktop]
row=0
col=14

[Trash]
row=0
col=16

[/home/jake]
row=3
col=0

