[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jake/Desktop/FL Studio 20.desktop]
row=1
col=0

[/home/jake/Desktop/steam.desktop]
row=2
col=0

[pi]
row=4
col=0

[Trash]
row=0
col=0

[/home/jake]
row=3
col=0

