[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jake/Desktop/Marble Blast Gold.desktop]
row=5
col=0

[/home/jake/Desktop/Play Marble Blast Platinum 1.14.lnk]
row=6
col=0

[/home/jake/Desktop/Play Marble Blast Platinum 1.14.desktop]
row=7
col=0

[/home/jake/Desktop/Marble Blast Gold.lnk]
row=4
col=0

[92D6-4BEB]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/jake]
row=3
col=0

